<div class="profile-container">
    <div class="profile-title">
        Profile
    </div>
    <div class="profile-details">
        <div class="field">
            <div class="field-name">
                Name:
            </div>
            <div class="field-value">
                {{loginService.currentUser.FullName}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                UserName:
            </div>
            <div class="field-value">
                {{loginService.currentUser.UserName}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                Address:
            </div>
            <div class="field-value">
                {{loginService.currentUser.Address}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                PinCode:
            </div>
            <div class="field-value">
                {{loginService.currentUser.PinCode}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                Mobile:
            </div>
            <div class="field-value">
                {{loginService.currentUser.Mobile}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                Email:
            </div>
            <div class="field-value">
                {{loginService.currentUser.Email}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                Email:
            </div>
            <div class="field-value">
                {{loginService.currentUser.Email}}
            </div>
        </div>
        <div class="field">
            <div class="field-name">
                Registration ID:
            </div>
            <div class="field-value">
                {{loginService.currentUser.RegistrationId}}
            </div>
        </div>
    </div>
</div>