.profile-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 3rem;
    min-width: 9.375rem;
    max-width: 31.25rem;
    padding-bottom: 4rem;

    .profile-title {
        font-size: 23px;
    }

    .profile-details {
        margin-top: 2rem;
        z-index: 999;
        box-shadow: 2px 2px 15px 2px #cbc8c8;
        padding: 1rem;

        .field {
            display: flex;
            display: -webkit-flex;
            margin-top: 2rem;
            .field-name {
                margin-left: 0.5rem;
                font-size: 16px;
                color: #737373;
                }
            .field-value {
                margin-left: 1.5rem;
                font-size: 14px;
            }
        }
    }
}