<div class="child-card-container">
    <div class="content">
        <label class="field-name">
            First Name
        </label>
        <div class="field-value">
            Aryan
        </div>
        <label class="field-name">
            Date of Birth
        </label>
        <div class="field-value">
            30 October 2008
        </div>
        <label class="field-name">
            Mother Name
        </label>
        <div class="field-value">
            Divya
        </div>
        <label class="field-name">
            Place of birth
        </label>
        <div class="field-value">
            Trivandrum
        </div>
        <label class="field-name">
            Birth ID
        </label>
        <div class="field-value">
            123
        </div>
        <div class="view-schedule-btn-div">
            <button mat-raised-button type="button" class="view-schedule-button">View Schedule</button>
        </div>
    </div>
</div>