.user-list-container {
    margin: 2rem;
    .add-new-button-div {
        text-align: right;
    }
    .add-new-staff-container {
        margin-top: 1rem;
        form {
            margin-top: 1rem;
            section {
                .flex-div {
                    display: flex;
                    display: -webkit-flex;
                    .phc-input, .mobile-input {
                        margin-left: 3rem;
                    }
                }
            }
            .save-button-div {
                text-align: right;
            }
        }
    }
    .user-listing-container {
        margin-top: 1rem;
        z-index: 999;
        padding: 1rem;
        width: 60%;
        box-shadow: 2px 2px 15px 2px #cbc8c8;
        .user-name {
            font-size: 20px;
        }
        .user-details {
            margin-top: 1rem;
            display: flex;
            display: -webkit-flex;
            .field {
                margin-left: 1rem;
                &:first-child {
                    margin-left: 0!important;
                }
                .field-name {
                    font-size: 12px;
                    color: #d4d4d4;
                }
                .field-value {
                    font-size: 14px;
                    margin-top: 0.5rem;
                }
            }
            .edit-button-div {
                text-align: right
            }
        }
    }
}

.full-width-field {
    width: 17rem;
}

.page-name, .title {
    font-size: 20px;
}

.blue-button {
    color: #ffffff;
    background: #157AF8;

    &:hover {
        cursor: pointer;
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    }

    &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }

    &:disabled {
        cursor: no-drop;
        opacity: 0.5;
    }
}

.edit-button-div {
    margin-left: auto;
}

.is-loading {
    opacity: 0.5;
}