.child-details-container {
    .child-name {
        font-size: 20px;
        margin: 2rem;
    }
    .child-details {
        margin: 1rem 2rem 2rem 2rem;
        z-index: 999;
        box-shadow: 2px 2px 15px 2px #cbc8c8;
        height: 7rem;
        .details {
            display: flex;
            padding: 2rem;
            .field {
                font-size: 14px;
                margin-right: 10rem;
                color: #929292;
                .field-value {
                    color: #000000;
                    font-size: 15px;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    .comment-box-container {
        margin: 2rem;
        width: 50%;
        .add-comment-title {
            font-size: 18px;
        }
        .comments-textarea {
            width: 36rem;
            border: 1px solid #d4d4d4;
            height: 9rem;
            margin-top: 1rem;
            padding: 1rem;
            resize: none;
        }
        
    }
    .vaccination-grid {
        margin: 2rem;
        mat-grid-list {
            border-left: 1px solid black;
            mat-grid-tile {
                border-bottom: 1px solid;
                border-right: 1px solid black;
                border-top: 1px solid black;
                font-size: 11px;
                font-size: 11px;
            }

            .cyan-bg {
                background-color: #d8ecf4;
            }
        }
    }
}

.is-loading {
    opacity: 0.5;
}

.is-done {
    background: #85C226;
}

.is-overdue {
    background: red;
}

.is-due {
    background: yellow;
}

.is-pending {
    background: #414141;

}

.is-edit-mode {
    cursor: pointer;
}

.save-button-container {
    text-align: right;
    margin-top: 1rem;
}

.blue-button {
    color: #ffffff;
    background: #157AF8;

    &:hover {
        cursor: pointer;
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    }

    &:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }

    &:disabled {
        cursor: no-drop;
        opacity: 0.5;
    }
}

.save-button {
    width: 6rem;
}

.add-comment-button {
    width: 8rem;
}

.cancel-button {
    margin-left: 1rem;
}

.category-dropdown {
    width: 100%;
}