<div class="child-details-container" [ngClass]="{'is-loading': loading}">
    <div class="child-name">
        {{childDetails.FullName}}
    </div>
    <div class="child-details">
        <div class="details">
            <div class="field">
                Place of Birth
                <div class="field-value">
                    {{childDetails.POB}}
                </div>
            </div>
            <div class="field">
                Mothers Name
                <div class="field-value">
                    {{childDetails.MothersName}}
                </div>
            </div>
            <div class="field">
                Date of Birth
                <div class="field-value">
                    {{childDetails.DOB | date}}
                </div>
            </div>
            <div class="field">
                Next Vaccination Due
                <div class="field-value">
                    {{childDetails.NextVaccinationDate | date}}
                </div>
            </div>
        </div>
    </div>
    <div class="comment-box-container" *ngIf="isCommentBoxEnabled">
        <button mat-raised-button type="button" class="add-comment-button blue-button"
            (click)="isCommentBoxDisplayed = true">Add Comment</button>

        <div *ngIf="isCommentBoxDisplayed">
            <mat-form-field class="category-dropdown">
                    <mat-select class="category-dropdown-select" id="categoryDropDown" placeholder="Category">
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{category}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <textarea name="comments" class="comments-textarea" maxlength="5000" [(ngModel)]="comments" matInput
                placeholder="Enter the comments">
            </textarea>
            <div class="save-button-container">
                <button [disabled]="!comments" mat-raised-button type="button" class="save-button blue-button"
                    (click)="saveComment()">Save</button>
                <button mat-raised-button type="button" class="cancel-button blue-button"
                    (click)="comments = ''; isCommentBoxDisplayed = false;">Cancel</button>
            </div>
        </div>
    </div>
    <div class="vaccination-grid" *ngIf="vaccinationDetails">
        <mat-grid-list cols="10" rowHeight="50" rowWidth="10">
            <mat-grid-tile class="cyan-bg" [colspan]="1" [rowspan]="2">Vaccine Name</mat-grid-tile>
            <mat-grid-tile class="cyan-bg" [colspan]="1" [rowspan]="2">Given On/ Due On</mat-grid-tile>
            <mat-grid-tile class="cyan-bg" [colspan]="8" [rowspan]="1">Schedule</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">At Birth</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">6 Weeks</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">10 Weeks</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">14 Weeks</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">9-12 Months</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">1-2 yr</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">5-6 yr</mat-grid-tile>
            <mat-grid-tile class="cyan-bg">10-15 yr</mat-grid-tile>

            <div *ngFor="let vaccine of vaccinationDetails">
                <mat-grid-tile>{{vaccine.VaccinationName}}</mat-grid-tile>
                <mat-grid-tile>{{vaccine.DueDate | date}}</mat-grid-tile>
                <div *ngFor="let schedule of vaccine.Schedule">
                    <mat-grid-tile (click)="changeStatus(schedule)"
                        [ngClass]="{'is-done' : schedule.Status == 'Done', 'is-pending' : schedule.Status == 'Pending', 'is-due' : schedule.Status == 'Due', 'is-overdue' : schedule.Status == 'Overdue', 'is-edit-mode' : (canEditSchedule && schedule.Status != 'Dummy' && schedule.Status != 'Pending' && schedule.Status != 'Done')}">
                    </mat-grid-tile>
                </div>
            </div>
        </mat-grid-list>
        <div class="save-button-container" *ngIf="canEditSchedule">
            <button mat-raised-button type="button" class="save-button blue-button"
                (click)="saveUpdatedSchedule()">Save</button>
        </div>
    </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>