/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0 !important;
    font-family: 'Montserrat', 'Open Sans', Helvetica, sans-serif;
}

.snack-bar {
    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.error-snack-bar {
    @extend .snack-bar;
    background: red !important;
    color: #fff;
}

.success-snack-bar {
    @extend .snack-bar;
    background: #689F38 !important;
    color: #fff;
}